<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>426246579062-rne5gd6u9pge69iuq6m5o62v4en5muu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426246579062-rne5gd6u9pge69iuq6m5o62v4en5muu7</string>
	<key>API_KEY</key>
	<string>AIzaSyDtnHVABaW1XKL0cGcJP-FoQLe5VeLkZlw</string>
	<key>GCM_SENDER_ID</key>
	<string>426246579062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codes.werner.pins</string>
	<key>PROJECT_ID</key>
	<string>wwdc-pins-ab5cb</string>
	<key>STORAGE_BUCKET</key>
	<string>wwdc-pins-ab5cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426246579062:ios:5e68f5265d349b3e</string>
	<key>DATABASE_URL</key>
	<string>https://wwdc-pins-ab5cb.firebaseio.com</string>
</dict>
</plist>